#PostgreSQL
POSTGRES_USER=postgres_user
POSTGRES_PASSWORD=postgres_bantads
POSTGRES_DB=bantads
POSTGRES_PORT=5432
DB_HOST=localhost

#MongoDB
MONGO_INITDB_DATABASE=bantads_auth
MONGO_PORT=27017

#RabbitMQ
RABBITMQ_DEFAULT_USER=bantads
RABBITMQ_DEFAULT_PASS=bantads
RABBITMQ_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672
RABBITMQ_HOST=localhost

#MS Cliente
SERVER_PORT=8082

#Saga Messaging
SAGA_RABBITMQ_EXCHANGE=bantads.saga
SAGA_RABBITMQ_QUEUE_CLIENTE_APROVAR_COMMAND=cliente.aprovar.command
SAGA_RABBITMQ_ROUTING_KEY_CLIENTE_APROVAR_COMMAND=cliente.aprovar
SAGA_RABBITMQ_ROUTING_KEY_CLIENTE_APROVAR_SUCESSO=cliente.aprovado
SAGA_RABBITMQ_ROUTING_KEY_CLIENTE_APROVAR_FALHA=cliente.aprovacao.falhou
SAGA_RABBITMQ_QUEUE_CLIENTE_REJEITAR_COMMAND=cliente.rejeitar.command
SAGA_RABBITMQ_ROUTING_KEY_CLIENTE_REJEITAR_COMMAND=cliente.rejeitar
SAGA_RABBITMQ_ROUTING_KEY_CLIENTE_REJEITAR_SUCESSO=cliente.rejeitado
SAGA_RABBITMQ_ROUTING_KEY_CLIENTE_REJEITAR_FALHA=cliente.rejeicao.falhou
